* {
  margin: 0;
  padding: 0;
  background-color: rgb(75, 99, 75);
}

#container {
  height: 100vh;
}

#the {
  height: 100vh;
  top: 0;
  display: block;
  margin-left: 35vw;
  position: absolute;
  z-index: 1;
}

#enter {
  height: 20%;
  min-width: 300px;
  display: block;
  float: right;
  width: 20%;
  top: 25%;
  left: 40%;
  position: absolute;
  background-color: transparent;
  z-index: 10;
}

@media only screen and (max-device-width: 480px) {
    * {
        margin: 0;
        padding: 0;
        background-color: black;
      }
      
      #container {
        height: 100vh;
      }
      
      #the {
        height: 100%;
        display: block;
        margin: 0 auto;
        position: absolute;
        z-index: 1;
      }
      
      #enter {
        height: 20%;
        float: right;
        width: 40%;
        margin-top: 30%;
        margin-left: 30%;
        position: absolute;
        border: 4px solid pink;
        opacity: 0;
        z-index: 10;
      }
}
